.navbarmenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 30px 0;
  border-bottom: 1px solid #D9D9D9;
}
.navbarmenu ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.navbarmenu ul a {
  color: #0D182D;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  list-style: none !important;
  text-decoration: none !important;
}
.navbarmenu ul li {
  color: #0D182D;
  font-size: 18px;
  font-weight: 500;
}
.navbarmenu ul li img {
  margin-right: 5px;
}
.navbarmenu ul li a {
  color: #0D182D;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.navbarmenu ul li span {
  font-size: 19px;
  color: #A3A3A3;
  margin-left: 10px;
}
.navbarmenu ul li button {
  border: 1px solid #00B962;
  background: none;
  color: #00B962;
  font-size: 18px;
  font-weight: 500;
  border-radius: 16px;
  padding: 10px 16px;
}

.mobilelogo {
  display: none;
}

ul.btm {
  margin-bottom: 0;
  padding-left: 0 !important;
  display: flex;
  gap: 30px;
  margin-top: 30px;
  justify-content: flex-start;
}
ul.btm a {
  color: #0D182D;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  list-style: none;
  text-decoration: none !important;
}
ul.btm li {
  list-style: none;
  font-size: 18px;
  font-weight: 500;
}
ul.btm li a {
  color: #0D182D;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

#close {
  display: none;
}

#check {
  display: none;
}

label {
  display: none;
}

#btnmenu {
  display: none;
}

#x {
  display: none;
  width: 24px;
}

@media (min-width: 1000px) and (max-width: 1900px) {
  .navbarmenu ul {
    gap: 17px !important;
  }
  .navbarmenu ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
}
@media (max-width: 700px) {
  .mobilelogo {
    display: block;
    z-index: 99999999;
  }
  .check {
    z-index: 999999 !important;
  }
  label {
    display: block;
    z-index: 999999 !important;
  }
  #btnmenu {
    display: block;
  }
  #check:checked ~ nav {
    position: fixed;
  }
  #check:checked ~ .mobilemenu {
    right: 0;
  }
  #check:checked ~ label #btnmenu {
    display: none;
  }
  #check:checked ~ label #x {
    display: block;
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 3.5%;
    background: linear-gradient(180deg, rgba(247, 247, 247, 0.589) 40%, rgba(247, 247, 247, 0) 78%);
  }
  ul.btm {
    margin-bottom: 0;
    padding-left: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
  }
  ul.btm li {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    display: flex;
  }
  .mobilemenu {
    padding-top: 30px;
    position: fixed;
    background: white;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    z-index: 99999;
    right: -100%;
    top: 0;
    transition: all 0.5s;
  }
  .logo {
    display: none;
  }
  .navbarmenu {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    border-bottom: 1px solid #D9D9D9;
  }
  .navbarmenu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .navbarmenu ul li {
    display: flex;
    color: #0D182D;
    font-size: 18px;
    font-weight: 500;
  }
  .navbarmenu ul li img {
    margin-right: 5px;
  }
  .navbarmenu ul li span {
    font-size: 19px;
    color: #A3A3A3;
  }
  .navbarmenu ul li button {
    border: 1px solid #00B962;
    background: none;
    color: #00B962;
    font-size: 18px;
    font-weight: 500;
    border-radius: 16px;
    padding: 10px 16px;
  }
}/*# sourceMappingURL=menu.css.map */