.PrivacyPolicy{
    background: #F7F7F7;
    .boxs-policy{
        margin-top: 70px;
        background: #fff;
        border-radius: 64px;
        padding: 80px 118px;
        p{
            &.grey{
                color: #A3A3A3;
            }
        }
        ul{
            padding-left: 1.3rem;
            li{
                color: #A3A3A3;
            }
        }
        h3{
            margin-top: 30px;
            margin-bottom: 10px;
        }
    }
}
@media (max-width: 1000px){
    .PrivacyPolicy{
        padding-top: 30px;
        background: #F7F7F7;
        .boxs-policy{
            margin-top: 30px;
            background: #fff;
            border-radius: 24px;
            padding: 16px;
            h1{
                font-size: 24px !important;
            }
            p{
                &.grey{
                    color: #A3A3A3;
                }
            }
            ul{
                padding-left: 1.3rem;
                li{
                    color: #A3A3A3;
                }
            }
            h3{
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
}